<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @transaction.sale_price %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @transaction.customer_email %>
</p>

<p>
  <strong>Transaction ID:</strong>
  <%= @transaction.transaction_id %>
</p>

<p>
  <strong>Book</strong>
  <%= @transaction.book.book_title_and_author %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
